<!-- Canonical -->
<link rel="canonical" href="{{ .Permalink }}">

<!-- 当前语言 -->
<link rel="alternate" hreflang="{{ .Site.Language.Lang }}" href="{{ .Permalink }}">

<!-- 多语言 -->
<link rel="alternate" hreflang="en" href="https://blogen.athenalarm.com{{ .RelPermalink }}">
<link rel="alternate" hreflang="hi" href="https://bloghi.athenalarm.com{{ .RelPermalink }}">
<link rel="alternate" hreflang="es" href="https://bloges.athenalarm.com{{ .RelPermalink }}">
<link rel="alternate" hreflang="ar" href="https://blogar.athenalarm.com{{ .RelPermalink }}">
<link rel="alternate" hreflang="fr" href="https://blogfr.athenalarm.com{{ .RelPermalink }}">
<link rel="alternate" hreflang="bn" href="https://blogbn.athenalarm.com{{ .RelPermalink }}">
<link rel="alternate" hreflang="pt" href="https://blogpt.athenalarm.com{{ .RelPermalink }}">
<link rel="alternate" hreflang="ru" href="https://blogru.athenalarm.com{{ .RelPermalink }}">
<link rel="alternate" hreflang="ur" href="https://blogur.athenalarm.com{{ .RelPermalink }}">
<link rel="alternate" hreflang="ja" href="https://blogja.athenalarm.com{{ .RelPermalink }}">
<link rel="alternate" hreflang="de" href="https://blogde.athenalarm.com{{ .RelPermalink }}">
<link rel="alternate" hreflang="fa" href="https://blogfa.athenalarm.com{{ .RelPermalink }}">
<link rel="alternate" hreflang="sw" href="https://blogsw.athenalarm.com{{ .RelPermalink }}">
<link rel="alternate" hreflang="pa" href="https://blogpa.athenalarm.com{{ .RelPermalink }}">
<link rel="alternate" hreflang="tr" href="https://blogtr.athenalarm.com{{ .RelPermalink }}">
<link rel="alternate" hreflang="vi" href="https://blogvi.athenalarm.com{{ .RelPermalink }}">
<link rel="alternate" hreflang="mr" href="https://blogmr.athenalarm.com{{ .RelPermalink }}">
<link rel="alternate" hreflang="ko" href="https://blogko.athenalarm.com{{ .RelPermalink }}">
<link rel="alternate" hreflang="ta" href="https://blogta.athenalarm.com{{ .RelPermalink }}">
<link rel="alternate" hreflang="te" href="https://blogte.athenalarm.com{{ .RelPermalink }}">
<link rel="alternate" hreflang="th" href="https://blogth.athenalarm.com{{ .RelPermalink }}">
<link rel="alternate" hreflang="ha" href="https://blogha.athenalarm.com{{ .RelPermalink }}">
<link rel="alternate" hreflang="it" href="https://blogit.athenalarm.com{{ .RelPermalink }}">
<link rel="alternate" hreflang="gu" href="https://bloggu.athenalarm.com{{ .RelPermalink }}">
<link rel="alternate" hreflang="ps" href="https://blogps.athenalarm.com{{ .RelPermalink }}">
<link rel="alternate" hreflang="uk" href="https://bloguk.athenalarm.com{{ .RelPermalink }}">
<link rel="alternate" hreflang="pl" href="https://blogpl.athenalarm.com{{ .RelPermalink }}">
<link rel="alternate" hreflang="kn" href="https://blogkn.athenalarm.com{{ .RelPermalink }}">
<link rel="alternate" hreflang="id" href="https://blogid.athenalarm.com{{ .RelPermalink }}">
<link rel="alternate" hreflang="ml" href="https://blogml.athenalarm.com{{ .RelPermalink }}">
<link rel="alternate" hreflang="my" href="https://blogmy.athenalarm.com{{ .RelPermalink }}">
<link rel="alternate" hreflang="am" href="https://blogam.athenalarm.com{{ .RelPermalink }}">
<link rel="alternate" hreflang="ms" href="https://blogms.athenalarm.com{{ .RelPermalink }}">
<link rel="alternate" hreflang="tl" href="https://blogtl.athenalarm.com{{ .RelPermalink }}">
<link rel="alternate" hreflang="uz" href="https://bloguz.athenalarm.com{{ .RelPermalink }}">
<link rel="alternate" hreflang="so" href="https://blogso.athenalarm.com{{ .RelPermalink }}">
<link rel="alternate" hreflang="ro" href="https://blogro.athenalarm.com{{ .RelPermalink }}">
<link rel="alternate" hreflang="nl" href="https://blognl.athenalarm.com{{ .RelPermalink }}">
<link rel="alternate" hreflang="kk" href="https://blogkk.athenalarm.com{{ .RelPermalink }}">
<link rel="alternate" hreflang="si" href="https://blogsi.athenalarm.com{{ .RelPermalink }}">
<link rel="alternate" hreflang="ne" href="https://blogne.athenalarm.com{{ .RelPermalink }}">
<link rel="alternate" hreflang="km" href="https://blogkm.athenalarm.com{{ .RelPermalink }}">
<link rel="alternate" hreflang="sn" href="https://blogsn.athenalarm.com{{ .RelPermalink }}">
<link rel="alternate" hreflang="el" href="https://blogel.athenalarm.com{{ .RelPermalink }}">
<link rel="alternate" hreflang="hu" href="https://bloghu.athenalarm.com{{ .RelPermalink }}">
<link rel="alternate" hreflang="sr" href="https://blogsr.athenalarm.com{{ .RelPermalink }}">
<link rel="alternate" hreflang="sv" href="https://blogsv.athenalarm.com{{ .RelPermalink }}">
<link rel="alternate" hreflang="az" href="https://blogaz.athenalarm.com{{ .RelPermalink }}">
<link rel="alternate" hreflang="cs" href="https://blogcs.athenalarm.com{{ .RelPermalink }}">
<link rel="alternate" hreflang="ca" href="https://blogca.athenalarm.com{{ .RelPermalink }}">
<link rel="alternate" hreflang="ti" href="https://blogti.athenalarm.com{{ .RelPermalink }}">
<link rel="alternate" hreflang="he" href="https://bloghe.athenalarm.com{{ .RelPermalink }}">
<link rel="alternate" hreflang="tg" href="https://blogtg.athenalarm.com{{ .RelPermalink }}">
<link rel="alternate" hreflang="bg" href="https://blogbg.athenalarm.com{{ .RelPermalink }}">
<link rel="alternate" hreflang="hr" href="https://bloghr.athenalarm.com{{ .RelPermalink }}">
<link rel="alternate" hreflang="da" href="https://blogda.athenalarm.com{{ .RelPermalink }}">
<link rel="alternate" hreflang="fi" href="https://blogfi.athenalarm.com{{ .RelPermalink }}">
<link rel="alternate" hreflang="no" href="https://blogno.athenalarm.com{{ .RelPermalink }}">
<link rel="alternate" hreflang="mn" href="https://blogmn.athenalarm.com{{ .RelPermalink }}">
<link rel="alternate" hreflang="sk" href="https://blogsk.athenalarm.com{{ .RelPermalink }}">
<link rel="alternate" hreflang="tpi" href="https://blogtpi.athenalarm.com{{ .RelPermalink }}">
<link rel="alternate" hreflang="ky" href="https://blogky.athenalarm.com{{ .RelPermalink }}">
<link rel="alternate" hreflang="tn" href="https://blogtn.athenalarm.com{{ .RelPermalink }}">
<link rel="alternate" hreflang="ka" href="https://blogka.athenalarm.com{{ .RelPermalink }}">
<link rel="alternate" hreflang="lt" href="https://bloglt.athenalarm.com{{ .RelPermalink }}">
<link rel="alternate" hreflang="hy" href="https://bloghy.athenalarm.com{{ .RelPermalink }}">
<link rel="alternate" hreflang="lo" href="https://bloglo.athenalarm.com{{ .RelPermalink }}">
<link rel="alternate" hreflang="sl" href="https://blogsl.athenalarm.com{{ .RelPermalink }}">
<link rel="alternate" hreflang="lv" href="https://bloglv.athenalarm.com{{ .RelPermalink }}">
<link rel="alternate" hreflang="et" href="https://bloget.athenalarm.com{{ .RelPermalink }}">
<link rel="alternate" hreflang="is" href="https://blogis.athenalarm.com{{ .RelPermalink }}">

<!-- 默认 -->
<link rel="alternate" hreflang="x-default" href="https://athenalarm.com{{ .RelPermalink }}">
